.container {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(16, 34, 73, 0.33);
    color: white;
    text-align: center;
}
.list {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0 5rem;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

