.header {
    background: rgba(16, 34, 73, 0.55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.80);
}

.logo img {
    width: 250px;
}

.nav {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
}
.nav button {
    flex: 1 1 45%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    border: 3px solid #2B71B8;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: inherit;
    transition: background-color 0.3s ease;
    white-space: nowrap;

    &:hover {
        background: #2c3f7e;
        border: 3px solid rgba(255, 255, 255, 0.80);
    }
}

@media (max-width: 600px) {
    .logo img {
        width: 200px;
    }
    .nav button {
        flex: 1 1 80%;
    }
}
