.pagination {
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.pagination button {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100px;
    height: 40px;
    color: white;

    &:hover {
        background: rgba(255, 255, 255, 0.65);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}
